-
    let career_item = [
            {year: '〜2011', company: '' ,text: '販売員'},
            {year: '2012', company: '株式会社<br>ECORE' ,text: '社内案件<br>Webデザイン<br>コーディング'},
            {year: '2013', company: '株式会社<br>コムデ' ,text: '受託案件<br>コーディング'},
            {year: '2014', company: 'フリーランス' ,text: '受託案件<br>Webコーディング<br>コーディング'},
            {year: '2018', company: '株式会社<br>デジリード' ,text: '受託案件<br>コーディング'},
            {year: '2019', company: '株式会社<br>コムデ' ,text: '受託案件<br>コーディング<br>プロジェクトマネージャー<br>ディレクション'},
            {year: '2022', company: '株式会社<br>コムデ' ,text: '在籍中'},


        ];

ul.home__career-area.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")
    each item in career_item
        li.home__career-areaItem.animate__target
            .home__career-areaYear !{item.year}
                span.home__career-areaCompany !{item.company}
            .home__career-areaText !{item.text}
