-
    let skill_item = [
            {title: 'HTML', year: '9'},
            {title: 'CSS', year: '9'},
            {title: 'WordPress', year: '7'},
            {title: 'JavaScript/jQuery', year: '8'},
            {title: 'Pug', year: '4'},
            {title: 'SCSS', year: '5'},
            {title: 'Bootstrap', year: '4'},

        ];
section
    ul.home__skill-area
        each item in skill_item
            li.home__skill-areaItem
                .home__skill-areaTitle= item.title
                .home__skill-areaYear
                    - for (var x = 0; x < item.year; x++)
                        span.home__skill-areaYearBlock.js-home__skill-areaYearBlock ■
                    span.home__skill-areaYearText #{item.year} 年
