section.container
    .home-fv__area
        .home-fv__areaItem.home-fv__areaItem01
            .home-fv__areaText Originality and ingenuity
        .home-fv__areaItem.home-fv__areaItem02
            .home-fv__areaText to wear
        .home-fv__areaItem.home-fv__areaItem03
            .home-fv__areaText EMI NIHONYANAGI<br>Portfolio
        .home-fv__areaItem.home-fv__areaItem04
            .home-fv__areaText Creation
        .home-fv__areaItem.home-fv__areaItem05
            figure.home-fv__areaThum
                img(src=`${relativePath}/_assets/images/top/fv_img.jpg`, alt="EMI NIHONYANAGI")
