.home__fv-area
    .home__fv-areaItem.home__fv-areaItem01
        .home__fv-areaText Originality and ingenuity
    .home__fv-areaItem.home__fv-areaItem02
        .home__fv-areaText to wear
    .home__fv-areaItem.home__fv-areaItem03
        .home__fv-areaText EMI NIHONYANAGI<br>Portfolio
    .home__fv-areaItem.home__fv-areaItem04
        .home__fv-areaText Creation
    .home__fv-areaItem.home__fv-areaItem05
        figure.home__fv-areaThum
            img(src=`${relativePath}/_assets/images/top/fv_img.jpg`, alt="EMI NIHONYANAGI")
