footer.siteFooter
    section.container
        p.copyrights &copy; EMI NIHONYANAGI Portfolio | 2022

|
|

// Scripts
if isPolyfill
    script(src=`${relativePath}/_assets/lib/polyfill/smoothscroll.min.js`)
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
script(src=`${relativePath}/_assets//lib/locomotive-scroll/locomotive-scroll.min.js`)


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
