header.siteHeader
    section.container
        .siteHeader__button.js-btn
            span.siteHeader__button-text
        nav.siteHeader__nav
            ul.siteHeader__navList
                li.siteHeader__navList-item: a(href="#home__portfolio") portfolio
                li.siteHeader__navList-item: a(href="#home__profile") profile
                li.siteHeader__navList-item: a(href="#home__career") career
                li.siteHeader__navList-item: a(href="#home__skill") skill
                li.siteHeader__navList-item: a(href="#home__tool") tool
