.loading.js-loading
    .loading__area
        .loading__areaImage.loading__areaImage--tl: img(src="./_assets/images/top/fv-area_bg-tl.svg", alt="")
        .loading__areaImage.loading__areaImage--tr: img(src="./_assets/images/top/fv-area_bg-tr.svg", alt="")
        .loading__areaImage.loading__areaImage--bl: img(src="./_assets/images/top/fv-area_bg-bl.svg", alt="")
        .loading__areaImage.loading__areaImage--br: img(src="./_assets/images/top/fv-area_bg-br.svg", alt="")