//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true

doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body(class=`${currentPage}`)#top
        //- HEADER
        include ./_inc/_homeFv.pug

        //- MAIN CONTENT
        main.main(role="main")
            .home__portfolio.js-horizontalArea
                .js-horizontalArea__item
                    .home__portfolio-container.container
                        h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Portfolio
                            span.main__subTitle.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s") 2015-2021
                        .main__subTitle.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.8s")
                            include ./_inc/_homePortfolio.pug

            .home__profile
                .home__profile-container.container
                    figure.home__profile-thum.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
                        img(src="https://placehold.jp/450x450.png", alt="")
                    .home__profile-text
                        h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Profile
                        .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
                            p.main__text 2012年より主に受託案件を中心に、Web制作会社、フリーランスにて制作経験を積む。
                            p.main__text WordPressのカスタマイズ経験が豊富で、クライアントとの商談を交え、エンドクライアントにとってより運用しやすい構築を心がけております。
                            p.main__text 教育担当や、国外の外注先への指示出しを多く経験し、確認作業の徹底に注力を注いでおります。

            .home__career
                .container
                    h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Career
                    .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
                        include ./_inc/_homeCareer.pug

            .home__skill
                h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Skill
                .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
                    include ./_inc/_homeSkill.pug

            .home__tool
                h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") 使用ツール
                .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
                    include ./_inc/_homeTool.pug

        //- FOOTER
        include ./_inc/_siteFooter.pug
