/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  position: relative;

  &__button {
    right: 3rem;
    top: 3rem;
    position: fixed;
    cursor: pointer;
    z-index: 2;
    &::before {
      content: "";
      display: block;
      width: 7rem;
      height: 7rem;
      background: rgba(202, 212, 227, 0.9);
      border-radius: 50%;
      z-index: 1;
      transition: all .6s;
      transform: scale(1);
      box-shadow: 0px 0px 16px -6px rgba(255,255,255,0.9);
    }
    &.is-open {
      &::before {
        transition: all .6s;
        transform: scale(10);
        -webkit-transform: scale(10);
        -moz-transform: scale(10);
        -ms-transform: scale(10);
        -o-transform: scale(10);
      }
    }
  }
  &__button-text {
    position: fixed;
    right: 4rem;
    top: 5rem;
    z-index: 3;
    font-size: 2rem;
    color: $white;
    @include u-trs;
    &::before {
      content: "Menu";
    }
    .is-open & {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      right: 10rem;
      @include u-trs;
      &::before {
        content: "× Close";
      }
}

  }
  &__nav {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 3rem;
    top: 10rem;
    max-width: 15rem;
    width: 100%;
    z-index: 3;
    &.is-active {
      opacity: 1;
      pointer-events: all;
      @include u-trs;
    }

  }
  &__navList {
    list-style: none;
    padding-left: 0;

  }
  &__navList-item {
    opacity: 0;
    font-size: 3rem;
    line-height: 1.8;
    .is-active & {
      animation-name:fadeInLeft;
      animation-duration: 0.8s;
      animation-fill-mode:forwards;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
    }
    a {
      color: $white;
      @include u-trsPC;

    }

  }
}
