-
    let tool_item01 = [
            {name: 'Photoshop'},
            {name: 'Illustrator'},
            {name: 'InDesign'},
            {name: 'XD'},
            {name: 'Sketch'},
            {name: 'Figma'},
        ];
    let tool_item02 = [
            {name: 'Visual Studio<br>Code '},
            {name: 'GitHub'},
            {name: 'GitHub Desktop'},
            {name: 'Docker'},
            {name: 'Docker Desktop'},
            {name: 'Bitbucket'},
            {name: 'SourceTree'},
            {name: 'TablePlus'},
            {name: 'Zeplin'},
            {name: 'Chrme DevTools<br>Elements'},
            {name: 'Chrme DevTools<br>Console'},
            {name: 'Chrme DevTools<br>Network'},
            {name: 'Chrme DevTools<br>Sources'},
            {name: 'Chrme DevTools<br>Application'},
            {name: 'Chrme DevTools<br>Lighthouse'},
        ];
    let tool_item03 = [
            {name: 'Backlog'},
            {name: 'ChatWork'},
            {name: 'Slack'},
            {name: 'Teams'},
            {name: 'Jira'},
            {name: 'Asana'},
            {name: 'Notion'},
            {name: 'Excel'},
            {name: 'Word'},
            {name: 'PowerPoint'},
        ];
section.home__tool(id="home__tool")
    .container
        h2.main__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Tool
        dl.home__tool-area.wow.fadeInUp(data-wow-duration=".5s" data-wow-delay="0.4s")
            dt.home__tool-areaTitle デザインツール
            -
            each item in tool_item01
                dd.home__tool-areaItem !{item.name}
        dl.home__tool-area.wow.fadeInUp(data-wow-duration=".5s" data-wow-delay="0.4s")
            dt.home__tool-areaTitle 制作ツール
            -
            each item in tool_item02
                dd.home__tool-areaItem !{item.name}
        dl.home__tool-area.wow.fadeInUp(data-wow-duration=".5s" data-wow-delay="0.4s")
            dt.home__tool-areaTitle ビジネスツール
            -
            each item in tool_item03
                dd.home__tool-areaItem !{item.name}
